/* Poster.css */

.poster {
  flex-shrink: 0;
  width: 300px;
  height: 450px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  margin: 5px;
  background-color: darkslategray;
  border-style: solid;
  border-color: rgb(241, 239, 236);
  border-radius: 10px;
  cursor: pointer;
}

h3 {
  max-width: 300px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  color: white;
}

