/* Movies.css */

.movies_container {
  display: flex;
  overflow-x: scroll;
  width: 95%;
  margin: 0;
  border: solid rgb(104, 103, 103) 4px;
  border-radius: 10px;
}

@media screen and (max-width: 480px) {
  .movies_container {
    width: 90%;
  }
}