/* Header.css */

.header_container {
  height: 6rem;
  width: 100%;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(90deg, rgba(54,54,54,1) 0%, rgba(121,9,9,1) 51%, rgba(64,64,64,1) 100%);
}

.header_icon {
  font-size: 3rem;
  padding: 1.5rem;
}

.header_text {
  font-family: 'Montserrat', sans-serif;
  font-size: 3rem;
  font-weight: 200;
  color: white;
}