/* Header.css */

.header_container {
  height: 9rem;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(90deg, rgba(54,54,54,1) 0%, rgba(121,9,9,1) 51%, rgba(64,64,64,1) 100%);
}

.header_icon {
  font-size: 3rem;
  padding: 1.5rem;
}

.header_text {
  font-family: 'Montserrat', sans-serif;
  font-size: 3rem;
  font-weight: 200;
  color: white;
}


@media screen and (max-width: 480px) {
  .header_icon {
    display: none;
  }
  .header_text {
    font-size: 1.5rem;
  }
  .header_container {
    justify-content: center;
  }
}