/* App.css */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;400&display=swap');

.App {
  height: 100vh;
  text-align: center;
  background-color: rgba(2, 0, 0, 0.889);
  color: white;
}

